
* {
    padding: 0; 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    --background-color: #000000;
    --font-color: #ffff;
}

body {
    background-color: var(--background-color);   
}

.header {
  display: flex;
  flex-direction: row;
  color: var(--font-color);
  gap: 850px;
  
  
}

.header h2, #score  {
  font-size: 23px;
  
}

.header #matchDisplay {
  font-size: 25px;
  
}

#grid {
  border: var(--font-color) solid 1px; 
}

img { 
  height: 130px;
  width: 130px;
  margin-left: 50px;

  
}