
* {
    padding: 0; 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    --background-color: #000000;
    --font-color: #ffff;
}

body {
    background-color: var(--background-color);   
}

.header {
  display: flex;
  flex-direction: row;
  color: var(--font-color);
  gap: 850px;
}

.header h2, #score  {
  font-size: 22px;
  
}

.header #matchDisplay {
  font-size: 22px;
  
}

#grid {
  border: var(--font-color) solid 1px; 
}

img { 
  height: 130px;
  width: 130px;
  margin-left: 50px;
  
}

@media(max-width: 1100px){
 img { 
  margin-right: 10px;
 }

 .header { 
  gap: 600px;
 }

}

@media(max-width: 780px){
  img { 
  margin-left: 20px;
 }

 .header {
  gap: 280px;
 }

}

@media(max-width: 420px){
  *{ 
    margin-left: 20px;
  }

  .header {
   gap: 25px;
   margin-bottom: 5px;

  }

  .header h2, #score {
   margin-left: 10px;
   font-size: 12px;
  }

  .header #matchDisplay {
    font-size: 12px;
  }

  img {
    height: 50px;
    width: 50px;
    margin-left: 30px;
  }
}